<section>
    <h1>
        FIND US AT
    </h1>
    <p>
        <img src="assets/imgs/standort.png" alt="">
        Industriestrasse 5, 6005 Luzern, Schweiz
    </p>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2718.912672999073!2d8.308536176352995!3d47.04194437114362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ffba52c9fcfd9%3A0xe84d6816373ec42a!2sBar%2059!5e0!3m2!1sde!2sus!4v1710973493475!5m2!1sde!2sus"
        style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</section>