<div>
    <div>
        <img src="../../../../assets/imgs/how-to-order-img1.jpg" alt="">
        <div>
            <p>
                Pick
            </p>
            <p>
                Your Noodle
            </p>
        </div>
    </div>
    <div>
        <img src="../../../../assets/imgs/how-to-order-img2.png" alt="">
        <div>
            <p>
                Pick
            </p>
            <p>
                Your Broth
            </p>
        </div>
    </div>
    <div>
        <img src="../../../../assets/imgs/how-to-order-img3.jpg" alt="">
        <p>
            Add Your <br> Toppings
        </p>
    </div>
</div>