section {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/imgs/bgr1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    >app-navbar {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
    }
    >h1 {
        font-size: 84px;
        color: white;
        font-family: Raleway;
        font-weight: bold;
    }
    >h2 {
        font-size: 24px;
        font-family: Raleway;
        font-weight: bold;
        color: white;
    }
}