<section>
    <h1>
        OUR MENU
    </h1>
    <div>
        <img src="../../../assets/imgs/r1.png" alt="">
        <div>
            <p>
                Tonkasu Ramen
            </p>
            <div>
                <div>
                    <p>
                        CHICKEN
                    </p>
                    <p>
                        11.95 CHF
                    </p>
                </div>
                <div>
                    <p>
                        BEEF
                    </p>
                    <p>
                        12.95 CHF
                    </p>
                </div>
                <div>
                    <p>
                        SHRIMP
                    </p>
                    <p>
                        13.95 CHF
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <p>
                Spicy Miso Ramen
            </p>
            <div>
                <div>
                    <p>
                        CHICKEN
                    </p>
                    <p>
                        11.95 CHF
                    </p>
                </div>
                <div>
                    <p>
                        BEEF
                    </p>
                    <p>
                        12.95 CHF
                    </p>
                </div>
                <div>
                    <p>
                        SHRIMP
                    </p>
                    <p>
                        13.95 CHF
                    </p>
                </div>
            </div>

        </div>
        <img src="../../../assets/imgs/r2.png" alt="">
    </div>
    <div>
        <img src="../../../assets/imgs/r3.png" alt="">
        <div>
            <p>
                Shio Ramen
            </p>
            <div>
                <div>
                    <p>
                        CHICKEN
                    </p>
                    <p>
                        11.95 CHF
                    </p>
                </div>
                <div>
                    <p>
                        BEEF
                    </p>
                    <p>
                        12.95 CHF
                    </p>
                </div>
                <div>
                    <p>
                        SHRIMP
                    </p>
                    <p>
                        13.95 CHF
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>